<div id="details" class="basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid" src="images/groupChat.svg" alt="alternative" />
      </div>
      <!-- end of col -->
      <div class="col-lg-6">
        <div class="text-container">
          <h3>
            Chatbot para atención al cliente
          </h3>
          <p>
            Leno can easily help you track your personal development evolution if you take the time to
                        properly setup your goals at the beginning of the training process. Check out the details
          </p>
          <a
            class="btn-solid-reg popup-with-move-anim"
            href="#details-lightbox-1"
          >
            LIGHTBOX
          </a>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-2 -->
<!-- end of details 1 -->
<!-- Details 2 -->
<div class="basic-3">
  <div class="second">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-container">
            <h3>
              Hoteles - restaurantes - cafes - muchos otros dominios
            </h3>
            <p>
              2 dias gratis de soporte
            </p>
            <a
              class="btn-solid-reg popup-with-move-anim"
              href="#details-lightbox-2"
            >
              LIGHTBOX
            </a>
          </div>
          <!-- end of text-container -->
        </div>
        <!-- end of col -->
        <div class="col-lg-6">
          <img
            class="img-fluid"
            src="images/onlineOrders.svg"
            alt="alternative"
          />
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of second -->
</div>
<!-- end of basic-3 -->