<div class="slider-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Card Slider -->
        <div class="slider-container">
          <div class="swiper-container card-slider">
            <div class="swiper-wrapper">
              {{#each testimonials}}
                <!-- Slide -->
                <div class="swiper-slide">
                  <div class="card">
                    <img class="card-image" src="{{img}}" alt="alternative" />
                    <div class="card-body">
                      <p class="testimonial-text">
                        {{text}}
                      </p>
                      <p class="testimonial-author">
                        {{author}}
                      </p>
                    </div>
                  </div>
                </div>
                <!-- end of swiper-slide -->
                <!-- end of slide -->
              {{/each}}
            </div>
            <!-- end of swiper-wrapper -->
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- end of add arrows -->
          </div>
          <!-- end of swiper-container -->
        </div>
        <!-- end of slider-container -->
        <!-- end of card slider -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of slider-1 -->