{{> navbar}}
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid" src="/images/FAQs/question.svg" alt="FAQs" />
        </div>
        <div class="col-lg-6">
          <h2>Preguntas frecuentes</h2>
          <b>
            ¿Qué es un chatbot?
          </b>
          <p>
            Essentially, a ChatBot is artificial intelligence (AI) software that
            talks to your customers, either through auditory or textual methods.
            It is a Question and Answer system based on what a user types or
            says. The ChatBot uses a combination of machine learning and Natural
            Language Processing (NLP) to formulate responses.
          </p>
          <b>¿Qué puede hacer un chatbot para mi negocio?</b>
          <ul>
            <li>
              Customer feels more comfortable with Chat. Many companies don't
              use Chat because it requires a dedicated team which can support
              for 24*7. Now Chatbot can automate most of these conversations.
            </li>
            <li>
              You can provide off hour support through chatbot. It is a well
              known fact that customers buy from company which responds fast to
              queries. Chatbot can serve your customers in off hours and help in
              increasing your revenue.
            </li>
            <li>
              Chatbot provides instant response. If your customer service
              executives are busy on other calls then your users can still
              resolve majority of the queries through Chatbots.
            </li>
            <li>
              You can provide personalized experience based on customer profile
              and context of the conversation. Chabot can also perform multiple
              tasks for your users.
            </li>
            <li>
              You can set a standardized support communication language for your
              organization. It helps in providing consistent experience to
              users.
            </li>
          </ul>

          <b
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
            necessitatibus.</b
          >
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
            quibusdam facere aliquid illo vel tenetur cum commodi dicta
            architecto neque.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
{{> footer}}
