{{> navbar}}
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <h2 class="text-center">Selecciona las plataformas de mensajería</h2>
      <div class="row text-center">
        <div class="col-lg-4 mb-3">
          <input type="checkbox" id="cbtest" />
          <label for="cbtest" class="check-box"></label>
          <h5><i class="fab fa-facebook-f custom-icon"></i>Facebook</h5>
          <p>
            La herramienta está entre las favoritas del los jóvenes por su versatilidad en su diseño, el cual brinda
            comodidad a los jóvenes al momento de expresarse con sus amistades.
          </p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Información
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Título del modal</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                                   <h6>Requisitos</h6>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, quas.</p>
                  <h6>Otras consideraciones</h6>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo commodi, architecto minima veniam iste quas!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <input type="checkbox" id="cbtest2" />
          <label for="cbtest2" class="check-box"></label>
          <h5><i class="fab fa-telegram"></i> Telegram</h5>
          <p>
            Telegram es una plataforma de mensajería y VOIP. La aplicación está enfocada en la mensajería instantánea,
            el envío de varios archivos y la comunicación en masa.
          </p>
          <a href="">Ver consideraciones</a>
        </div>
        <div class="col-lg-4 mb-3">
          <input type="checkbox" id="cbtest3" />
          <label for="cbtest3" class="check-box"></label>
          <h5><i class="fab fa-whatsapp"></i> WhatsApp</h5>
          <p>
            WhatsApp Messenger es una aplicación de mensajería instantánea para teléfonos inteligentes, en la que se
            envían y reciben mensajes mediante Internet, así como imágenes, vídeos, audios, grabaciones de audio, entre
            otras funciones.
          </p>
          <a href="" class="mx-3">Ver consideraciones</a>
        </div>
      </div>
      <a type="button" class="btn btn-success btn-lg btn-block mt-3" href="/solicitud">Continuar</a>
    </div>
  </div>
</header>
{{> footer}}